
<div class="orders-container">
    <h2>All Orders</h2>
    
    <div *ngIf="orders && orders.length > 0; else noOrders">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-details">
          <p><strong>Order ID:</strong> {{ order._id }}</p>
          <!-- <p><strong>Shipping Address:</strong> {{ order.shippingAddress.details }}, {{ order.shippingAddress.city }}</p> -->
          <p><strong>Phone:</strong> {{ order.shippingAddress.phone }}</p>
          <p><strong>Payment Method:</strong> {{ order.paymentMethodType }}</p>
          <p><strong>Total Order Price:</strong> ${{ order.totalOrderPrice }}</p>
          <p><strong>Status:</strong> {{ order.isDelivered ? 'Delivered' : 'Not Delivered' }}</p>
          <p><strong>Paid:</strong> {{ order.isPaid ? 'Yes' : 'No' }}</p>
          <p><strong>Order Date:</strong> {{ order.createdAt | date }}</p>
        </div>
  
        <div class="order-items">
          <h4>Items:</h4>
          <div *ngFor="let item of order.cartItems" class="order-item">
            <img [src]="item.product.imageCover" alt="Product Image" class="product-image">
            <div class="item-details">
              <p><strong>Title:</strong> {{ item.product.title }}</p>
              <p><strong>Brand:</strong> {{ item.product.brand.name }}</p>
              <p><strong>Category:</strong> {{ item.product.category.name }}</p>
              <p><strong>Quantity:</strong> {{ item.count }}</p>
              <p><strong>Price:</strong> ${{ item.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <ng-template #noOrders>
      <p>No orders found.</p>
    </ng-template>
  </div>
